.Name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 100px;
    margin: 50px 0 20px 0;

    letter-spacing: 4px;
    font-size: 50px;
    line-height: 55px;
    line-break: anywhere;
}