.Experience {
	display: flex;
	flex-direction: column;

	position: relative;

	padding: 30px 35px 30px 35px;
	background-color: #9e938c;

	&:hover {
        filter: brightness(.92);
    }
}

.header {
	font-size: 39px;
	margin-bottom: 5px;
}

.exp-content {
	margin-bottom: 20px;
}

.skill,
.hobbies {
	font-size: 20px;
}

ul {
	margin: 0 0 20px 0;
}