.Experience {
	display: flex;
	flex-direction: column;

	padding: 15px 35px 15px 35px;

	background-color: #9e938c;
}

.header {
	margin-top: 10px;
	font-size: 39px;
}

.skill,
.hobbies {
	font-size: 20px;
}
