.PersonalInfo {
    display: flex;
    justify-content: center;

    background-color: #C2B5AC;

    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .7);
}