.PersonalInfo {
    display: flex;
    flex-direction: column;

    position: relative;

    padding: 0 20px 0 25px;
    background-color: #C2B5AC;

    &:hover {
        filter: brightness(.9);
    }
}