.EditBtn, .SaveBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    width: 40px;
    height: 40px;

    box-sizing: border-box;
    border: solid 2px #3b3530;
    border-radius: 0 0 15px 0;

    opacity: .8;

    &:hover {
        opacity: 1;
    }

    cursor: pointer;
}

.EditBtn {
    visibility: hidden;
    background-color: rgb(252 213 51);
}

.SaveBtn {
	background-color: rgb(105 195 92);
}

#edit-sign {
    font-size: 33px;
}

#save-sign {
	font-size: 36px;
}
